
<div class="container top-buffer">
  <div class="jumbotron">
    <h1 class="display-4">{{title}}</h1>
    <p class="lead">Come and meet all my heroes!</p>
    <hr class="my-4">
    <nav>
      <a class="btn btn-primary btn-lg" routerLink="/dashboard">Dashboard</a>
      &nbsp;
      <a class="btn btn-primary btn-lg" routerLink="/heroes">Heroes</a>
    </nav>
  </div>
</div>

<div class="container top-buffer">
  <router-outlet></router-outlet>
</div>

<div class="container top-buffer">
  <app-messages></app-messages>
</div>



